fieldset.LastUsers {
	ul {
		list-style-type: none;
		padding: 0;

		div.item-lastUser-content {
			display: flex;
			justify-content: space-between;

			div {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-end;
	
				span.lastUser-visited {
					font-size: .8em;
				}
			}
		}
	}
}